
pknw1.co.uk:80 {
        root * /publish/new-nav
        file_server
}

www.pknw1.co.uk:80 {
        root * /publish/new-nav
        file_server
}

content.pknw1.co.uk:80 {
        root * /publish/www.pknw1.co.uk
        file_server
}

notflix.pknw1.co.uk:80 {
        root * /publish/notflix.pknw1.co.uk
        file_server
}

engineering.pknw1.co.uk:80 {
        root * /publish/engineering.pknw1.co.uk
        file_server
}

mobile.engineering.pknw1.co.uk:80 {
        root * /publish/mobile.engineering.pknw1.co.uk
        file_server
}

career.pknw1.co.uk:80 {
        root * /publish/mobile.engineering.pknw1.co.uk
        file_server
}

contact.pknw1.co.uk:80 {
        root * /publish/contact.pknw1.co.uk
        file_server
}
projects.pknw1.co.uk:80 {
        root * /publish/projects.pknw1.co.uk
        file_server
}

nav.pknw1.co.uk:80 {
        root * /publish/nav.pknw1.co.uk
        file_server
}
